* {
    font-family: "Gill Sans", sans-serif;
    text-align: center;
}

body {
    background-color: gainsboro;
    color: black;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: grey;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul li {
    line-height: 40px;
    text-align: center;
    position: relative;
    float: left;
}

header ul li a:link, a:visited {
    text-decoration: none;
    color: whitesmoke;
    display: block;
    width: 90px;
}

header ul li a:hover, a:active {
    color: gray;
    background-color: whitesmoke;
}

ul li ul li {
    float: none;
    /* margin-top: 2px; */
    background-color: gray;
}

ul li ul {
    /* width: 90px; */
    position: absolute;
    display: none;
}

ul li:hover ul {
    display: block;
}

article {
    padding: 20px;
    padding-top: 70px;
}

.pin {
    width: 20%;
    margin: 10px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.5s;
    float: left;
}

.pin:hover {
    transform-origin: bottom;
    transform: scale(1.01);
    /* 四周都有阴影 */
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5), 2px -2px 5px rgba(128, 128, 128, 0.5), -2px 2px 5px rgba(128, 128, 128, 0.5), -2px -2px 5px rgba(128, 128, 128, 0.5);
}

.pin a {
    width: 100%;
    text-decoration: none;
}

.pin img {
    width: 100%;
    cursor: pointer;
}

.pin img:hover {
    opacity: 0.8;
}

.pin p {
    border-top: 1px solid gainsboro;
    padding: 10px;
    text-align: left;
}